@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Montserrat";
        src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
    }

  html {
    font-family: "Montserrat", sans-serif;
  }
  body{
    @apply bg-light-blue
  }
  h2 {
    @apply font-bold text-[28px] ssm:text-2xl md:text-4xl lg:text-[52px];
  }
  h3 {
    @apply font-bold text-xl ssm:text-2xl md:text-[28px] lg:text-[32px];
  }
}

.currentCol {
  fill: red;
  stroke: red;
}



